body {
    border-top: solid 2px #000;
    background-color:#fff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
h1 {
    
    font-size: 20px;
    
}

.container {
    width: 710px;

}

header {
    margin-top: 0px;
    background: #fff;
    border-bottom: solid 1px #000;
}

header img {

    background: #fff;
}

section {
    background: #fff;
}

nav {
    float: right;
    background: #ffc;
    margin-top: 20px;
    margin-right:50px;
    text-align: center;

}

nav ul,li {
    font-weight: normal;
    padding:0 5px;
    list-style-type: none;
    display: inline-block;
}

nav ul,li a:visited {
    color:#09c;
}

a {
    color:#09c;
    text-decoration: none;
}

.nav a:hover {
    color:#069;
    text-decoration: none;
}

.nav a:visited {
    color:#099;
    text-decoration: none;
}

.nav_footer {
    width: 710px;
    float:none;
    text-align: center;
    
}


 /* FORM STYLES */
 
 .red {
    color: red;
    
 }
.new_user {  background-color: silver;
             width: 405px;
             margin: 0 auto;
             border: 1px  solid grey;

}
.actionSign {
 text-align: right;
}

label {
    font-weight: normal;
}
#user_name {
    
    font-size: 30px;
    max-width:400px;
}

#user_email {
    

    font-size: 30px;
    max-width:400px;
}

#user_email {

    font-size: 30px;
    max-width:400px;
}

#user_password {
    
    font-size: 30px;
    max-width:400px;
}
#user_password_confirmation {

    font-size: 30px;
    max-width:400px;
}

 /* BUTTON ? STYLES */
 
 
 /* Users*/
.users li{
    list-style: circle;
    list-style-type: circle;
    display: block;
}