<h1>Sign Up</h1>
<!--Proc forge value hidden/ f. is rails convention for formv -->
<%= form_for(@user) do |f| %>
  <%=render 'forms', :f => f %>
  <div class="actionSign">
    <%= f.submit "Sign Up" %><br /> 
  </div>
<% end %>