<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
  </head>
  <!-- cross site request forgery proc -->
  <%= csrf_meta_tag %>
  <body>
  <!-- allows input of content -->
    <%= yield %>
  </body>
  
</html>